<script setup>

import axios from "axios";
import {reactive, watch, ref} from 'vue';
import {useDropzone} from 'vue3-dropzone';

const props = defineProps(['path', 'api_url'])
const emit = defineEmits(['close', 'send'])
const loadProgress = ref([]);

// const testFiles = [
//   {"name": "/photo/all.min.css"},
//   {"name": "/photo/app.css"},
//   {"name": "/photo/avatar-10.jpg"},
// ]

const state = reactive({
   files: [],
});

const {getRootProps, getInputProps, isDragActive, ...rest} = useDropzone({
  onDrop,
});

watch(state, () => {
  console.log('state', state);
});

watch(isDragActive, () => {
  console.log('isDragActive', isDragActive.value, rest);
});

const close = () => emit('close');
const upload = () => emit('send', state)
const clear = () => state.files = [];

function onDrop(acceptFiles, rejectReasons) {
  loadProgress.value = [];
  state.files = acceptFiles;
  for (let key in state.files) {
    loadProgress.value[key] = false;
    let file = state.files[key];
  }
}

function deleteFile(index) {
  state.files.splice(index, 1);
  loadProgress.value.splice(index, 1);
}

function submitFiles() {
  const token = "&token=" + localStorage.getItem('token')
  const url = props.api_url + "/upload-file?path=" + props.path + '&type=upload-file' + token;
  for (let i in state.files) {
    let file = state.files[i];
    sendFile(url, file, i)
  }
}

function sendFile(url, file, key) {
  let form = new FormData();
  form.append('file', file);
  let headers = {"Content-Type": "multipart/form-data",}
  axios.post(url, form, {headers}).then(response => {
      let resp = response.data.result;
      loadProgress.value[key] = resp.message;
  }).catch(error => {
      console.log('Ошибка при загрузке файла - ' + key);
      console.log(error);
  })
}

const createPreview = (file) => {
  if (file.type.match('image.*')) {
    let reader = new FileReader();
    reader.onload = (el) => {
        let previewBoxWrap = document.querySelector('.preview-photo-wrap');
        let img = document.createElement('img');
        img.src = el.target.result;
        img.style.width = "50px";
        previewBoxWrap.appendChild(img);
    }
    reader.readAsDataURL(file);
  }
}

</script>

<template>

<div class="file-uploader-container"><div class="intro-y box">
    <div class="intro-y relative mt-0 before:box before:absolute before:inset-x-3 before:mt-3 before:h-full before:bg-slate-50"><div class="box p-2">

            <div class="flex items-center">
               <div>{{ props.path }}</div>
               <button @click="close()" class="button w-20 justify-center block bg-gray-200 text-gray-600 ml-auto">
                  Закрыть
               </button>
            </div>

            <!---- Зона загрузки файлов ---->
            <div class="preview pt-2"  >
              <div v-bind="getRootProps()" class="dropzone border-gray-200 border-dashed dz-clickable" style="width: 100%" >
                <div class="dz-message"  >
                  <input v-bind="getInputProps()" />
                  <div class="text-lg font-medium" >Перетащите файлы сюда или нажмите, чтобы загрузить.</div>
                </div>
              </div>
            </div>

            <template v-if="state.files.length">

              <div class="mb-2 mt-2 flex border-b border-slate-200 pb-2 text-xs text-slate-500">
                <div>Предпоказ файлов</div>
                <div class="ml-auto"> {{state.files.length }}</div>
              </div>

              <!---- Зона предпоказа файлов ---->
              <template v-for="(file, key) in state.files" >
                <div class="flex">
                  <div>
                      <span>{{ file.name }}</span> |
                      <span v-if="loadProgress[key]" class="load-progress">{{ loadProgress[key] }}</span>
                      <span v-else class="load-progress _error" style="color: red "> не загружено </span>
                  </div>
                  <div class="ml-auto">
                      <div @click="deleteFile(key)">
                        <i class="fa fa-trash-o" style="color: red"></i>
                      </div>
                  </div>
                </div>
              </template>

              <!---- Action buttons ---->
              <div class="flex mt-2 mb-3 btn-action-box" style="" >
                  <button @click="submitFiles()" class="button copy-code button button--sm border flex items-center text-gray-700">
                     <img src="@/assets/icons/upload-to-server.svg" class="w-4 h-4" style="margin-right: 5px" >
                     Загрузить файлы на сервер
                  </button>
                  <button @click="clear()" class="copy-code button button--sm border flex items-center text-gray-700" style="margin-left: 20px">
                     <img src="@/assets/icons/upload-clear.svg" class="w-4 h-4" style="margin-right: 5px" >
                     Очистить
                  </button>
              </div>

            </template>

    </div></div>
</div></div>

</template>

<style lang="scss" scoped >

.btn-action-box {
  border-top: 1px gainsboro solid; padding-top: 8px
}

.btn-action-box .button:hover {
   cursor: pointer;
   color: green;
   border: 2px green dashed !important;
}

.file-uploader-container {
  margin: 0;
  padding: 10px;
  border-right: 4px white dashed;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
     rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  z-index: 999;
  position: absolute;
  width: 50%;
  height: 100%;
  top:0px;
  left: 0px;
  right: 0px;
  background-color: #15329A;
}

.dropzone,
.files {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.5;
  background: white;
}

.dropzone {
  width: 30%;
}

.files {
  border-radius: 4px;
  font-size: 10px;
  padding: 3px;
}

.border {
  border: 2px dashed #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: all 0.3s ease;
  background: #fff;
  font-size: 10px !important;
  border: 2px gainsboro dashed !important;

  &.isDragActive {
    border: 2px dashed #ffb300;
    background: rgb(255 167 18 / 20%);
  }

}

.border p {
  font-size: 12px !important;
  text-align: center !important;
}

.file-item {
  margin: 5px 3px 10px 3px ;
  padding: 4px 0px 0px 12px;
  width: 16%;
  border: 1px #BBC8FD solid;
  font-size: 13px;
  background: #cbd5e0;

  &:first-child {

  }
}

.delete-file {
  background: red;
  color: #fff;
  position: absolute;
  margin-left: -15px !important;
  //margin-top: -15px !important;
  border-radius: 0%;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 16px;
}

.preview-photo-wrap {
  display: flex;
  flex-wrap: wrap;
}

.load-progress {
  background: none;
  color: green;
  text-align: center;
  font-style: italic;
  font-size: 11px;
}

.load-progress ._error {
  color: white !important;
}

.alert-success:hover {
  color: darkgreen;
  font-weight: bold;
}

.alert-warning:hover {
  font-style: italic;
}

</style>
