<script setup >

import AceEditor from "ace-editor-vue3";

import {computed, reactive, ref} from "vue";
const props = defineProps(['file', 'lang', 'width', 'action'])
const emit  = defineEmits(['close'])

import useFileManager from "@/composables/useFileManager.js";
const { store, getFiles, eventOn, eventEmit, getFileContent,
        saveFileContent, getFilesToCurrent } = useFileManager();

import "brace/theme/monokai";
import "brace/mode/php";
import "brace/mode/javascript";
import "brace/mode/css";
import "brace/mode/html";
import "brace/theme/chrome";
import "brace/theme/github";
import "brace/theme/dreamweaver";

const imageExt = [
  'jpg', 'png','jpeg', 'JPG', 'PNG', 'JPEG',
];

const fileExt = [
  'javascript', 'css','html', 'php', 'txt', 'js', 'sql', 'json',
];

const editor  = ref(null);
const options = reactive({"showPrintMargin": true} );
const lang    = ref(props.lang);
const theme   = ref("monokai");

const fileContent = ref('');
const filePath = computed(() => props.file.real_path);
const getFileItem = computed(() => props.file)
const action = computed(() => props.action);

const loadFileContent = () => {
  getFileContent(filePath.value)
      .then(result => fileContent.value = result);
}

const close    = () => emit('close')
const setValue = (data) => fileContent.value = data
const getValue = () => fileContent.value;
const setSize  = () => editor.value.setFontSize(22);
const setLang  = (name) => lang.value = name;

const saveContent = () => {
  let path    = filePath.value;
  let content = fileContent.value;
  saveFileContent({path,  content}).then(result => {
     getFilesToCurrent()
  })
}

loadFileContent();

</script>

<template>
<div class="file-editor-container bg-slate-100" :style="'width:' + props.width" >

    <!--  HEADER -->
    <div class="editor-header" style="">
      <div class="flex items-center" >
          <div class="flex items-center mt-0">
            <div class="file"><a class="w-12 file__icon file__icon--file" style="height: 27px;">
                <div class="file__icon__file-name text-xs"> {{ getFileItem.ext }}</div>
            </a></div>
          </div>

          <div class="font-medium text-base mr-auto" style="font-style: italic; font-size: 13px;">
            {{filePath}}
          </div>

          <button v-if="action == 'edit'" @click="saveContent" class="button w-40 justify-center block bg-gray-20045 text-gray-600 ml-auto">
            Сохранить файл
          </button>

          <button @click="close" class="button w-20 justify-center block bg-gray-2005 text-gray-600" style="margin-left: 10px">
              Закрыть
          </button>

    </div></div>
   <!--  ./ HEADER -->

    <template v-if="imageExt.indexOf(getFileItem.ext) != -1">
        <img :src="fileContent" >
    </template>
    <template v-else-if="fileExt.indexOf(getFileItem.ext) != -1" >
        <AceEditor
            v-model:codeContent="fileContent"
            v-model:editor="editor"
            :theme="theme"
            :lang="lang"
            :options="options"
            width="100%" height="94%"
        />
    </template>
    <template v-else>
        <h2 style="color: white; text-align: center; font-size: 22px">
          Не найдено раширение: {{getFileItem.ext}}
        </h2>
    </template>

</div>
</template>

<style scoped>

.file-editor-container {
    border-right: 3px white dashed;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 99999;
    background-color: #15329A;
    color: white;
    padding: 2px;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.4);
}

.editor-header {
   /*border: 1px gainsboro solid;*/
   border-bottom: 4px gainsboro solid;
   padding: 4px;
   background-color: #15329A;
   color: white;
}

.button {
  color: white;
}

.button:hover {
   color: greenyellow;
}

</style>

