<template>
<div class="fm-header-panel">

    <a @click.prevent="getSystemFiles()"
        class="intro-x w-6 h-6 flex items-center justify-center rounded-full border border-gray-500 text-gray-600">
        <img src="@/assets/icons/home.svg" class="feather feather-home w-4 h-4 img-icon">
    </a>

    <div class="dir-path-breadcrumb">
       <template v-for="(name, key) in pathList">
          <a v-if="key == 0 || name == '/'" @click.prevent="getServerFiles"> Server root </a>
          <a v-else @click.prevent="changeDirectory(key, name)" > {{ name }} </a>
          <img src="@/assets/icons/right-arroy.svg" class="feather feather-home w-4 h-4 img-icon" style="margin-top: 2px">
       </template>
    </div>

    <HeadPanelAction style="margin-left: auto" />

</div>
</template>

<script setup>

import HeadPanelAction from "@/components/file-manager/HeadPanelAction.vue";

import {computed} from "vue";

import useFileManager from "@/composables/useFileManager.js";
const { store, getFiles, eventEmit } = useFileManager();

const pathList = computed(() => store.getCurrentPathRender );

const getSystemFiles = () => {
  eventEmit('get-system-files');
}

const getServerFiles = () => {
  eventEmit('get-server-files');
}

const changeDirectory = (key, name) => {
    let list = pathList.value.slice(0, key);
    list.push(name);
    let path = list.join('/');
    const data = { list, path, key, name}
    eventEmit('get-files', data);
}

</script>

<style scoped>

.fm-header-panel {
  background-color: #F1F5F8;
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 10px 2px 5px;
}

.dir-path-breadcrumb {
  margin-left: 10px;
  display: flex;
  font-size: 13px;
  font-style: italic;
}

.dir-path-breadcrumb a {
  padding: 0 2px 0px 2px;
}

.dir-path-breadcrumb a:hover {
  background: #b0c4d9;
  border-radius: 2px;
  color: white;
}

.fm-header-panel a {
  cursor: pointer;
}

</style>

