<template>
<div>

    <div>
      <FileUploader
          v-if="uploadStatus"
          :path="store.currentPath"
          :api_url="apiUrl"
          @close="uploadStatus = false"
          @send="uploaderResponse"/>
    </div>

    <div class="flex items-center border-t border-gray-200" style="background-color: #F1F5F8;">
        <a @click.prevent="createItem('create-folder')" title="Создать папку" :class="linkClass" style="cursor: pointer">
           <img src="@/assets/icons/add-folder.svg" class="w-4 h-4" >
        </a>
        <a @click.prevent="createItem('create-file')" title="Создать файл" :class="linkClass" style="cursor: pointer">
           <img src="@/assets/icons/add-file.svg" class="w-4 h-4" >
        </a>
        <a @click.prevent="uploadStatus = true" title="Загрузить файлы на сервер" :class="linkClass" style="cursor: pointer" >
           <img src="@/assets/icons/upload-files.svg" class="w-4 h-4" >
        </a>
    </div>

    <modal-form
       v-if="modalStatus" :title="formTitle"
       @save="save" @cancel="cancel" >
       <template v-slot:body>
         <div style="width: 80%; margin: 0px auto 0px auto">
             <input v-model="newName" type="text" class="form-control">
         </div>
       </template>
    </modal-form>

</div>
</template>

<script setup>

import FileUploader from "@/components/file-manager/FileUploader.vue"

import { ref } from "vue";
import useFileManager from "@/composables/useFileManager.js";
const { store, files, getFiles, eventEmit, apiUrl, createResource } = useFileManager();

const linkClass = 'intro-x w-8 h-8 flex items-center justify-center rounded-full bg-theme-1 ml-auto  text-white ml-2 tooltip tooltipstered';
const uploadStatus = ref(false);
const modalStatus  = ref(false);
const newName      = ref(null)
const fileType     = ref(null)
const formTitle    = ref(null)

const save = () => {
   modalStatus.value = false;
   let name = newName.value;
   let type = fileType.value;
   if(!name) return false;
   const param = { name, type }
   createResource(param).then(result => {
      getFiles(store.currentPath);
      if(store.currentPath != store.serverPath) {
         eventEmit('create-resource', param)
      } else {
         eventEmit('create-resource-server', param)
      }
   })
}

const cancel = () => {
   modalStatus.value = false
}

const createItem = (type = 'create-folder') => {
  fileType.value = type;
  formTitle.value = (type == 'create-folder') ? 'Создать папку' : 'Создать файл';
  modalStatus.value = true;
}

const uploaderResponse = (response) => {
  getFiles(store.currentPath);
}

</script>

<style scoped>

</style>
