<template>

  <div class="intro-y inbox box mt-0 mb-1" style="border-radius: 0px;">

    <div class="p-2 flex items-center text-gray-600 border-b border-gray-200"
         style="border: 1px #15329A solid; height: 40px">
         <div style="font-style: italic; font-size: 13px; display: block"> {{ store.currentPath }}</div>
         <div @click="deleteFiles" title="Удалить директорию"
             class="intro-x w-6 h-6 flex items-center justify-center rounded-full bg-theme-23 text-white ml-2 tooltip tooltipstered"
             style="background-color: rgb(211, 41, 41);  display: block !important; margin-left: auto !important; padding: 6px 0px 0px 6px; cursor: pointer">
             <img src="@/assets/icons/delete-icon.svg" class="w-3 h-3">
         </div>
    </div>

    <table class="table-0">
      <thead>
      <tr>
        <th class="file-checkbox-td">
          <input @change="setFilesChecked($event)" v-model="filesChecked" type="checkbox" class="input border">
        </th>
        <th> Название</th>
        <th> Размер</th>
        <th> Мод.</th>
        <th> Группа</th>
        <th> Владелец</th>
        <th> Права</th>
        <th style="text-align: center"> Действия</th>
      </tr>
      </thead>

      <tbody>

      <template v-for="(item, key) in files" :key="item.name">
        <tr>
          <td class="file-checkbox-td">
            <input v-if="item?.checked" @change="setFileCheck(key, false)" type="checkbox" class="input border"
                   checked >
            <input v-else @change="setFileCheck(key, true)" type="checkbox" class="input border">
          </td>
          <td>
            <template v-if="item.type == 'dir'">
              <div @click.prevent="selectFolder(item)" style="display: flex; cursor: pointer;">
                <div class="file__icon--directory1 closed"></div>
                <div style="margin-left: 5px" class="closed1">{{ item.name }}</div>
              </div>
            </template>
            <template v-else>
              <span :class="'ext-file ext-' + item.ext" style="padding-left: 20px;" >{{item.name}}</span>
            </template>
          </td>
          <td><small v-if="item.size"> {{ item.size }} </small></td> <!-- Size -->
          <td><small> {{ item.aTime }} </small></td> <!-- Mod -->
          <td>
            <div>{{ item?.group }}</div>
          </td>
          <td>
            <div>{{ item?.perms }}</div>
          </td>
          <td></td>

          <td>
            <div class="flex items-center px-0 py-0 border-t border-gray-200 fm-action-panel"
                 style="background: #F1F5F8;" >

              <a @click.prevent="deleteItem(item)" title="Удалить папку" style="background-color: #D32929;"
                 class="intro-x w-6 h-6 flex items-center justify-center rounded-full bg-theme-23  text-white ml-2 tooltip tooltipstered">
                <img src="@/assets/icons/delete-icon.svg" class="w-3 h-3">
              </a>

              <a @click.prevent="renameItem(item)" title="Переименовать" style="background: #2196F3;"
                 class="intro-x w-6 h-6 flex items-center justify-center rounded-full bg-theme-14 text-white ml-2 tooltip tooltipstered">
                <img src="@/assets/icons/rename-icon.svg" class="w-3 h-3">
              </a>

              <a @click.prevent="downloadItem(item)" title="Выгрузить файлы с сервера"
                 class="intro-x w-6 h-6 flex items-center justify-center rounded-full bg-theme-1 text-white ml-2 tooltip tooltipstered">
                <img src="@/assets/icons/download-icon.svg" class="w-3 h-3">
              </a>

              <a @click.prevent="copyItem(item)" title="Копировать"
                  class="intro-x w-6 h-6 flex items-center justify-center rounded-full bg-theme-1 text-white ml-2 tooltip tooltipstered">
                  <img src="@/assets/icons/copy-icon.svg" class="w-3 h-3">
              </a>

              <template v-if="item.type != 'dir'">
                  <a @click.prevent="openFile(item, 'edit')" title="Редактировать" style="background: #91C714;"
                     class="intro-x w-6 h-6 flex items-center justify-center rounded-full bg-theme-1 text-white ml-2 tooltip tooltipstered">
                    <img src="@/assets/icons/edit-icon.svg" class="w-3 h-3">
                  </a>

                  <a @mouseover.prevent="openFile(item, 'preview')"
                     @mouseout.prevent="previewStatus = false" title="Быстрый просмотр" style="background: #0077b5;"
                     class="intro-x w-6 h-6 flex items-center justify-center rounded-full bg-theme-17 text-white ml-2 tooltip tooltipstered">
                    <img src="@/assets/icons/preview-icon.svg" class="w-3 h-3">
                  </a>
              </template>
              <template v-else>
                  <a @click.prevent="getDirectoryInfo(item)" title="Dir Info" style="background: lightsteelblue;"
                     class="intro-x w-6 h-6 flex items-center justify-center rounded-full bg-theme-17 text-white ml-2 tooltip tooltipstered">
                    <img src="@/assets/icons/disabled-icon.svg" class="w-3 h-3">
                  </a>
              </template>

            </div>
          </td>

        </tr>
      </template>

      </tbody>
    </table>

  </div>

  <template v-if="editStatus">
    <FileEditor
        width="50%"
        :file="selectFile"
        :lang="selectFile.ext"
        action="edit"
        @close="editStatus = false"/>
  </template>

  <template v-if="previewStatus">
    <FileEditor
        width="50%"
        :file="selectFile"
        :lang="selectFile.ext"
        action="preview"
        @close="previewStatus = false"/>
  </template>

  <modal-form
      v-if="renameStatus" title="Переименовать"
      @action="()=> renameSave()" @cancel="renameStatus = false">
      <template v-slot:body>
        <div style="width: 80%; margin: 0px auto 0px auto">
          <input v-model="newFileName" type="text" class="form-control">
        </div>
      </template>
  </modal-form>

<!--  <sliding-sidebar-->
<!--      v-if="copyStatus"-->
<!--      style="width:50%"-->
<!--      title="Копирование"-->
<!--      @close="copyStatus = false" >-->

<!--      <template v-slot:header >-->
<!--         <div class="" style="background: #b0c4d9; margin-top: 10px">-->

<!--             <div style="padding: 3px 3px 3px 10px">-->
<!--                <div>Копируем из : {{store.copySourcePath}}</div>-->
<!--                <div>В : {{store.copyDestPath}}</div>-->
<!--             </div>-->

<!--             <div>-->
<!--               <button @click="copyFileSend" class="button">Скопировать</button>-->
<!--               <button @click="moveFileSend" class="button" style="margin-left: 10px">Переместить</button>-->
<!--             </div>-->

<!--         </div>-->
<!--       </template>-->
<!--       <template v-slot:body >-->
<!--          <div class="tree-container"><ul>-->
<!--            <tree-item-base-->
<!--                v-for="(file) in treeDirFiles"-->
<!--                :file="file"-->
<!--                store_path="copyDestPath"-->
<!--             />-->
<!--          </ul></div>-->
<!--       </template>-->
<!--  </sliding-sidebar>-->

</template>

<script setup>

import FileEditor from "@/components/file-manager/FileEditor.vue"
// import SearchTextPanel from "@/components/tmp/SearchTextPanel.vue"
import HeadPanelAction from "@/components/file-manager/HeadPanelAction.vue"

import {computed, ref, onMounted } from "vue";
import useFileManager from "@/composables/useFileManager.js";

const {
  store, getFiles, eventOn, eventEmit,
  deleteResource, getFilesToCurrent,
  getServerFiles, getSystemFiles, loadFiles,
  renameFile, downloadFile, copyFile,
} = useFileManager();

const files = computed(() => {
  return store.files;
})

const treeDirFiles = ref([]);
const selectFile = ref(null);
const fileContentStatus = ref(false);
const filePreviewStatus = ref(false);
const fileChecked = ref(false);
const previewStatus = ref(false);
const editStatus = ref(false)
const renameStatus = ref(false);
const copyStatus = ref(false);
const newFileName = ref(null);
const filesChecked = ref(false);

///////////////////////////////////////
// --- действия с файлами и директориями

const selectFolder = (file, action = null) => {
  let path = file.real_path;
  getFiles(path).then(result => {
    eventEmit('select-folder', {path, file, files: result})
  });
}

const deleteItem = (file) => {
  let path = file.real_path;
  let type = file.type;
  deleteResource(path, type).then(data => {
    getFilesToCurrent();
    eventEmit('reload-files', {path: store.currentPath, file})
  });
}

// const deleteFiles = () => {
//   deleteItem(file)
//      // checkedFilesAction(deleteItem)
// }

const openFile = (file, action = 'edit') => {
  selectFile.value = file;
  switch (action) {
    case 'edit' :
      editStatus.value = true;
      break;
    case 'preview' :
      previewStatus.value = true;
      break;
  }
}

const renameItem = (file) => {
  selectFile.value = file;
  newFileName.value = file.name;
  renameStatus.value = true;
}

const renameSave = (param = null) => {
  renameStatus.value = false;
  let path = selectFile.value.path;
  let oldName = selectFile.value.name;
  let newName = newFileName.value;
  renameFile({path, oldName, newName}).then(result => {
    getFilesToCurrent()
    eventEmit('reload-files', {
      path: store.currentPath, file: selectFile.value
    });
  });
}

const downloadItem = (file) => {
  let path = file.real_path;
  let type = file.type;
  debugger;
  downloadFile({ path, type }).then(result => {
      const link = document.createElement('a');
      link.href  = result;
      link.setAttribute('download', file.name);
      document.body.appendChild(link);
      link.click();
  })
}

const copyItem = (file) => {
  selectFile.value = file;
  store.copySourcePath = file.real_path;
  eventEmit('copy-event', file)
  // copyStatus.value = true;
  // loadFiles(store.systemPath).then(result => {
  //    treeDirFiles.value = result;
  // })
}

// const copyFileSend = () => {
//    const data = { action: 'copy', source: store.copySourcePath, dest: store.copyDestPath };
//    copyFile(data).then(result => {
//       console.log(result);
//    })
// }
//
// const moveFileSend = () => {
//   const data = { action: 'move', source: store.copySourcePath, dest: store.copyDestPath };
//   copyFile(data).then(result => {
//       console.log(result);
//   })
// }

const getDirectoryInfo = (file) => {
  let filePath = file.real_path;
  // store.sendAction(filePath, 'get-dir-info').then(data => {
  //   lg(data);
  // })
}

const setFileCheck = (key, value) => {
   store.files[key]['checked'] = value;
}

const setFilesChecked = (event) => {
  for(let key in store.files) {
    setFileCheck(key, filesChecked.value)
  }
}

// const setFileListChecked = (event) => {
//   let value = fileChecked.value;
//   store.files.map(item => item['checked'] = value);
// }
//

// const checkedFilesAction = (fn) => {
//   let files = store.getCheckedFiles;
//   for (let i in files) {
//     fn(files[i])
//   }
// }



</script>

<style scoped>

.tree-container {
  display: block;
}

.file-checkbox-td {
  width: 28px;
  padding: 0px;
  padding-top: 5px;
  padding-left: 5px;
}

small {
  font-size: 10px;
  font-style: italic;
}

.fm-action-panel a {
  cursor: pointer;
}

.file__icon--directory {
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='786' height='786' viewBox='0 0 786 786'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient' x1='0.5' x2='0.5' y2='1' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%238a97ac'/%3E%3Cstop offset='1' stop-color='%235d6c83'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='Group_3' data-name='Group 3' transform='translate(-567 -93)'%3E%3Crect id='Rectangle_4' data-name='Rectangle 4' width='418' height='681' rx='40' transform='translate(896 109)' fill='%2395a5b9'/%3E%3Crect id='Rectangle_3' data-name='Rectangle 3' width='433' height='681' rx='40' transform='translate(606 93)' fill='%23a0aec0'/%3E%3Crect id='Rectangle_2' data-name='Rectangle 2' width='742' height='734' rx='40' transform='translate(590 145)' fill='%23bec8d9'/%3E%3Crect id='Rectangle_5' data-name='Rectangle 5' width='786' height='692' rx='40' transform='translate(567 187)' fill='url(%23linear-gradient)'/%3E%3C/g%3E%3C/svg%3E%0A");
  display: block;
  width: 20px;
  height: 17px;
}

</style>
