
.ext-file {
    background: url(images/file.png) left 50% no-repeat
}

.ext-ab {
    background: url(images/ab.png) left 50% no-repeat
}

.ext-tpl {
    background: url(images/tpl.png) left 50% no-repeat
}

.ext-3gp, .ext-avi, .ext-mov, .ext-mp4, .ext-mpeg, .ext-wmv {
    background: url(images/film.png) left 50% no-repeat
}

.ext-afp, .ext-afpa, .ext-asp, .ext-aspx, .ext-c, .ext-cfm, .ext-cgi, .ext-cpp, .ext-h, .ext-lasso, .ext-vb, .ext-xml {
    background: url(images/code.png) left 50% no-repeat
}

.ext-ai {
    background: url(images/ai.png) left 50% no-repeat
}

.ext-bat {
    background: url(images/application.png) left 50% no-repeat
}

.ext-bmp, .ext-gif, .ext-jpg, .ext-jpeg, .ext-pcx, .ext-png, .ext-tif, .ext-tiff, .ext-ico {
    background: url(images/image.png) left 50% no-repeat
}

.ext-com {
    background: url(images/application.png) left 50% no-repeat
}

.ext-css {
    background: url(images/css.png) left 50% no-repeat
}

.ext-doc, .ext-docx {
    background: url(images/doc.png) left 50% no-repeat
}

.ext-exe {
    background: url(images/application.png) left 50% no-repeat
}

.ext-fla, .ext-swf {
    background: url(images/flash.png) left 50% no-repeat
}

.ext-htm, .ext-html {
    background: url(images/html.png) left 50% no-repeat
}

.ext-jar {
    background: url(images/java.png) left 50% no-repeat
}

.ext-js, .ext-pl, .ext-py {
    background: url(images/js.png) left 50% no-repeat
}

.ext-m4p, .ext-ogg, .ext-wav, .ext-mp3 {
    background: url(images/music.png) left 50% no-repeat
}

.ext-pdf {
    background: url(images/pdf.png) left 50% no-repeat
}

.ext-php {
    background: url(images/php.png) left 50% no-repeat
}

.ext-ppt {
    background: url(images/ppt.png) left 50% no-repeat
}

.ext-psd {
    background: url(images/psd.png) left 50% no-repeat
}

.ext-rb, .ext-rbx, .ext-rhtml, .ext-ruby {
    background: url(images/ruby.png) left 50% no-repeat
}

.ext-sql {
    background: url(images/db.png) left 50% no-repeat
}

.ext-txt, .ext-text, .ext-log {
    background: url(images/txt.png) left 50% no-repeat
}

.ext-xls, .ext-xlsx {
    background: url(images/xls.png) left 50% no-repeat
}

.ext-zip, .ext-7z, .ext-rar {
    background: url(images/zip.png) left 50% no-repeat
}
