
/*APP STYLE*/

html {
    max-width: 100% !important;
}

body {
    max-width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    margin-right: auto !important;
    margin-left: auto !important;

    /*font-family: "Poppins", sans-serif;*/
    font-size: 13px !important;

    /*overflow-x: hidden;*/
    /*padding-top: 0.75rem;*/
    /*padding-bottom: 0.75rem;*/
    /*padding-left: 2rem;*/
    /*padding-right: 2rem;*/
    /*font-family: Poppins;*/
    /*font-size: 0.875rem;*/
    /*color: #2d3748;*/

}



.btn-action {
    background: #15329A !important;
}


.fm-action-panel-active {
    background: red !important;
}








