.table-0 {
    width: 100%;
    border: 5px solid #F2F8F8;
    border-top: 5px solid #F2F8F8;
    border-collapse: collapse;
}

.table-0 th {
    font-weight: bold;
    padding: 3px;
    background: #F2F8F8;
    border: none;
    border-bottom: 3px solid #F2F8F8;
}

.table-0 td {
    padding: 3px;
    border-left: 1px #F2F8F8 solid;
    border-bottom: 3px solid #F2F8F8;
}
