.tree-container {
    margin-top: 10px
}

.tree-container ul {
    list-style-type: none
}

.tree-container {
    display: none
}

.tree-container li {
    text-decoration: none;
    line-height: 16px;
    margin: 6px 0;
    /*border-bottom: 1px grey solid;*/
}

.tree-container ul {
    padding-left: 15px
}

.tree-container ul {
    border-left: 1px solid #E0E0E0;
    margin-left: 8px
}

.tree-container div {
    cursor: pointer;
    border-radius: 2px;
    transition: .2s;
    display: inline-block;
    line-height: 19px
}

.tree-container li.ext-file {
    padding-left: 20px
}

.tree-container li:before {
    margin-left: -16px;
    /*content: "\2014";*/
    content: "\2014";
    position: absolute;
    color: #E0E0E0
}

.tree-container li.ext-file:before {
    margin-left: -36px;
    content: "\2014";
    position: absolute;
    color: #E0E0E0
}

.tree-container div.closed.selected {
    background: rgba(179, 229, 252, 0.54) url(images/folder.png) left top no-repeat
}

.tree-container div.open.selected {
    background: rgba(179, 229, 252, 0.54) url(images/folderopen.png) left no-repeat;
}

.closed {
    background: url(images/folder.png) left top no-repeat;
    padding-left: 18px !important
}

.open {
    background: url(images/folderopen.png) left top no-repeat;
    padding-left: 18px !important
}



/*.tree{*/
/*    --spacing : 1.5rem;*/
/*    --radius  : 0px;*/
/*}*/

/*.tree li{*/
/*    display      : block;*/
/*    position     : relative;*/
/*    padding-left : calc(2 * var(--spacing) - var(--radius) - 1px);*/
/*    color: white !important;*/
/*}*/

/*.tree ul{*/
/*    margin-left  : calc(var(--radius) - var(--spacing));*/
/*    padding-left : 0;*/
/*}*/

/*.tree ul li{*/
/*    border-left : 2px solid #ddd;*/
/*}*/

/*.tree ul li:last-child{*/
/*    border-color : transparent;*/
/*}*/

/*.tree ul li::before{*/
/*    content      : '';*/
/*    display      : block;*/
/*    position     : absolute;*/
/*    top          : calc(var(--spacing) / -2);*/
/*    left         : -2px;*/
/*    width        : calc(var(--spacing) + 2px);*/
/*    height       : calc(var(--spacing) + 1px);*/
/*    border       : solid #ddd;*/
/*    border-width : 0 0 2px 2px;*/
/*}*/

/*.tree summary{*/
/*    display : block;*/
/*    cursor  : pointer;*/
/*}*/

/*.tree summary::marker,*/
/*.tree summary::-webkit-details-marker{*/
/*    display : none;*/
/*}*/

/*.tree summary:focus{*/
/*    outline : none;*/
/*}*/

/*.tree summary:focus-visible{*/
/*    outline : 1px dotted #000;*/
/*}*/

/*.tree li::after,*/
/*.tree summary::before{*/
/*    content       : '';*/
/*    display       : block;*/
/*    position      : absolute;*/
/*    top           : calc(var(--spacing) / 2 - var(--radius));*/
/*    left          : calc(var(--spacing) - var(--radius) - 1px);*/
/*    width         : calc(2 * var(--radius));*/
/*    height        : calc(2 * var(--radius));*/
/*    border-radius : 50%;*/
/*    background    : #ddd;*/
/*}*/

/*.tree summary::before{*/
/*    z-index    : 1;*/
/*    background : #696;*/
/*    !*background : #696 url('expand-collapse.svg') 0 0;*!*/
/*}*/

/*.tree details[open] > summary::before{*/
/*    background-position : calc(-2 * var(--radius)) 0;*/
/*}*/
