<!DOCTYPE html>
<html >
<!--<html lang="en" data-layout="horizontal" data-sidebar="dark" data-sidebar-size="lg" data-preloader="disable"-->
<!--      data-theme="material" data-topbar="dark" data-bs-theme="light" data-layout-width="fluid" data-sidebar-image="none"-->
<!--      data-layout-position="fixed" data-layout-style="default">-->

<!--<html lang="en" data-layout="vertical" data-sidebar="dark" data-sidebar-size="lg" data-preloader="enable"-->
<!--      data-theme="material" data-topbar="dark" data-bs-theme="light"-->
<!--      data-layout-width="fluid" data-sidebar-image="none" data-layout-position="fixed" data-layout-style="default" >-->

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >

    <!---- STEEX  ------>
<!--    <link href='assets/steex/css2?family=Poppins:wght@300;400;500;600;700&display=swap' rel="stylesheet"/>-->
<!--    <link href='assets/steex/css/bootstrap.min.css' rel="stylesheet"/>-->
<!--    <link href='assets/steex/libs/jsvectormap/css/jsvectormap.min.css' rel="stylesheet" />-->
<!--    <link href='assets/steex/libs/swiper/swiper-bundle.min.css' rel="stylesheet" />-->
<!--    <link href='assets/steex/css/icons.min.css' rel="stylesheet"/>-->
<!--    <link href='assets/steex/css/app.min.css' rel="stylesheet" />-->
<!--    <link href='assets/steex/css/custom.min.css' rel="stylesheet" />-->
<!--    <script src="assets/steex/js/layout.js"></script>-->
    <!---- ./ STEEX  ----->

<!--    <link href="assets/style.css" rel="stylesheet">-->

  </head>
  <body class="app" >

    <div id="layout-wrapper" class="main" ></div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>

    <!---- STEEX  ------>
<!--    <script src="assets/steex/libs/bootstrap/js/bootstrap.bundle.min.js"></script>-->
<!--    <script src="assets/steex/libs/simplebar/simplebar.min.js"></script>-->
<!--    <script src="assets/steex/js/plugins.js"></script>-->
<!--    <script src="assets/steex/libs/apexcharts/apexcharts.min.js"></script>-->
<!--    <script src="assets/steex/libs/jsvectormap/js/jsvectormap.min.js"></script>-->
<!--    <script src="assets/steex/libs/jsvectormap/maps/world-merc.js"></script>-->
<!--    <script src="assets/steex/libs/swiper/swiper-bundle.min.js"></script>-->
<!--    <script src="assets/steex/libs/list.js/list.min.js"></script>-->
<!--    <script src="assets/steex/js/pages/dashboard-ecommerce.init.js"></script>-->
<!--    <script src='assets/steex/libs/toastify-js/src/toastify.js'></script>-->
    <!---- ./ STEEX  ----->

    <script src="assets/js/lg.js"></script>

<!--    <script src="assets/steex/js/app.js"></script>-->

    <script>

        $(document).ready(function() {
            // setTimeout(() => {
            // }, 500)
        });

    </script>

  </body>
</html>
