<template>

  <table class="table_dark">

    <tr>
      <th>№</th>
      <th>Path</th>
      <th>Name</th>
    </tr>

    <template v-for="(item, i) in getResult">

      <tr>
        <td>{{i+1}}</td>
        <td>{{item.file_path}}</td>
        <td>{{item.name}}</td>
      </tr>

      <tr><td colspan=3>
          <div v-for="(value) in item.lines" style="font-size: 10px">
            № строки: {{value.num}} | Текст: {{value.line}}
          </div>
      </td></tr>
      <tr><td colspan=3 ></td></tr>

    </template>

  </table>

<!--  <pre>{{ getResult }}</pre>-->

</template>

<script setup>

import {computed} from "vue";

const props = defineProps(['data'])

const getResult = computed(() => {
  return props.data;
})

</script>

<style scoped>

.table_dark {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  width: 95%;
  text-align: left;
  border-collapse: collapse;
  background: #252F48;
  margin: 10px;
}

.table_dark th {
  color: #EDB749;
  border-bottom: 1px solid #37B5A5;
  padding: 12px 17px;
}

.table_dark td {
  color: #CAD4D6;
  border-bottom: 1px solid #37B5A5;
  border-right: 1px solid #37B5A5;
  padding: 7px 17px;
}

.table_dark tr:last-child td {
  border-bottom: none;
}

.table_dark td:last-child {
  border-right: none;
}

.table_dark tr:hover td {
  text-decoration: underline;
}
</style>