<template>

  <div class="container-fluid" style="background: #1C3FAA;">

    <div class="row">

      <!--- LEFT PANEL ---->
      <div class="col-lg-3 left-sidebar-panel">

        <div style="padding: 5px 10px 0px 10px; display: flex;
                    background-color: #F1F5F8;
                    border-top: 1px white solid">

          <button @click="systemFilesReload"
                  class="font-medium text-xs py-1 px-2 bg-primary text-white  mb-2 mr-1 w-24 btn-action" >
                  Home
          </button>

          <button @click="serverFilesReload"
                  class="font-medium text-xs py-1 px-2 bg-primary text-white  mb-2 mr-1 w-24 btn-action"
                  style="">
                  Server
          </button>

          <button @click="loadFtpFiles"
                  class="font-medium text-xs py-1 px-2 bg-primary text-white  mb-2 mr-1 w-24 btn-action"
                  style="">
                  Ftp
          </button>

          <button @click="copyPanelOpen"
                  class="font-medium text-xs py-1 px-2 bg-primary text-white  mb-2 mr-1 w-24 btn-action"
                  style="">
                  Copy
          </button>

<!--          <div @click="serverFilesReload"-->
<!--               style="background-color: #15329A; height: 22px; margin-left: auto;-->
<!--               padding: 3px; border-radius: 50%; cursor: pointer">-->
<!--               <img src="@/assets/icons/reload-icon.svg" class="w-4 h-4">-->
<!--          </div>-->

        </div>

        <template v-if="ftpStatus">

           <drag-item style="width: 100%"><template v-slot:content>

              <div style="margin: 5px 2px 2px 4px; padding:0px 5px 0px 10px; border-bottom: 1px white solid"
                  >ПАНЕЛЬ FTP</div>

              <div v-if="store.ftpPath"

                  style="margin: 5px 2px 2px 2px; padding:0px 5px 0px 5px; border-bottom: 1px white solid">

                  <template v-if="store.copySourcePath">
                    <button @click="copyFtp"
                            class="font-medium text-xs py-1 px-2 bg-primary text-white  mb-2 mr-1 w-24 btn-action"
                            style="">
                      Копировать
                    </button>

                    <button @click="downloadFtp"
                            class="font-medium text-xs py-1 px-2 bg-primary text-white  mb-2 mr-1 w-24 btn-action"
                            style="">
                            Выгрузить
                    </button>

                  </template>

                  <button @click="deleteFtp"
                          class="font-medium text-xs py-1 px-2 bg-primary text-white  mb-2 mr-1 w-24 btn-action"
                          style="">
                          Удалить
                  </button>

                  <button @click="ftpActionTest"
                          class="font-medium text-xs py-1 px-2 bg-primary text-white  mb-2 mr-1 w-24 btn-action"
                   >test</button>

              </div>

              <div style="margin: 5px 2px 2px 2px; padding:0px 5px 0px 10px; border-bottom: 1px white solid; font-size: 11px">
                  <div>ftp-path: {{store.ftpPath}}</div>
                  <div>local-path: {{store.copySourcePath}}</div>
              </div>

              <div class="tree-container"><ul>
                  <template v-for="(file) in ftpFiles">
                    <FtpTreeItem :file="file"
                                 store_path="ftpPath"/>
                  </template>
              </ul></div>

          </template></drag-item>

        </template>
        <template v-else-if="store.copySourcePath && copyPanelStatus">

          <div style="border-bottom: 1px gainsboro solid; padding: 3px 3px 3px 10px;">

            <div>ПАНЕЛЬ КОПИРОВАНИЯ</div>

            <div style=" font-size: 11px">
              <div >Source : {{store.copySourcePath}}</div>
              <div>Dest : {{store.copyDestPath}}</div>
            </div>

            <div style="">
              <button @click="copyFileSend" class="font-medium text-xs py-1 px-2 bg-primary text-white  mb-2 mr-1 w-24 btn-action">Скопировать</button>
              <button @click="moveFileSend" class="font-medium text-xs py-1 px-2 bg-primary text-white  mb-2 mr-1 w-24 btn-action"
                      style="">Переместить</button>
            </div>
          </div>

          <div class="tree-container"><ul>
            <tree-item-base
                v-for="(file) in treeDirFiles"
                :file="file"
                store_path="copyDestPath"
            />
          </ul></div>

        </template>
        <template v-else >

           <div class="tree-container"><ul>
              <template v-for="(file) in files">
                <TreeItem :file="file"
                          :open="file.open"/>
              </template>
           </ul></div>

        </template>

      </div>

      <!-- CONTENT DATA --->
      <div class="col-lg-9">

        <app-header />

        <FileManagerHeader/>

        <TableFiles/>

      </div>

    </div>

    <div class="" style="text-align: center; padding: 5px;"> 2023</div>

  </div>

</template>

<script setup>

import FileManagerHeader from "@/components/file-manager/Header.vue";
import TreeItem from "@/components/tree-item/TreeItem.vue";
import FtpTreeItem from "@/components/tree-item/FtpTreeItem.vue";
import TableFiles from "@/components/file-manager/TableFiles.vue";
// import AppHeader   from "@/components/common/AppHeader.vue";

import {ref} from "vue";

import useFileManager from "@/composables/useFileManager.js";
const {
  files, store, getFiles, getRootPaths, getServerFiles, getFtpFiles,
  getSystemFiles, eventOn, eventEmit, getTreeFiles, treeRecursiveOpen,
  ftpAction, loadFiles, copyFile,
} = useFileManager();

const ftpStatus = ref(false)
const copyPanelStatus = ref(false)
const ftpFiles = ref([])
const treeDirFiles = ref([]);

eventOn('get-system-files', () => {
  files.value = [];
  getSystemFiles();
})

eventOn('get-server-files', () => {
  files.value = [];
  getServerFiles();
})

eventOn('create-resource-server', () => {
  files.value = [];
  getServerFiles();
})

eventOn('copy-event', (file) => {
   copyPanelOpen();
})

eventOn('get-files', (data) => {

  files.value = [];
  const {path} = data;
  let paths = path.split('/');
  let serverStatus = false;
  const serverPath = store.serverPath;
  const serverPathName = serverPath.split('/').reverse()[0];

  let newPaths = [];
  for (let i in paths) {
    let name = paths[i];
    if (serverPathName == name) {
      serverStatus = true;
      newPaths.push(serverPath)
      continue
    }
    if (!serverStatus) continue;
    newPaths.push(name);
  }

  if (newPaths.length) paths = newPaths;

  getTreeFiles(paths[0]).then(result => {
    files.value = treeRecursiveOpen(path, result);
  })

})


const copyFileSend = () => {
  const data = { action: 'copy', source: store.copySourcePath, dest: store.copyDestPath };
  copyFile(data).then(result => {
    console.log(result);
  })
}

const moveFileSend = () => {
  const data = { action: 'move', source: store.copySourcePath, dest: store.copyDestPath };
  copyFile(data).then(result => {
    console.log(result);
  })
}

const serverFilesReload = () => {
  copyPanelStatus.value = false;
  ftpStatus.value = false;
  files.value = [];
  getServerFiles().then(result => {
     files.value = result;
  })
}

const systemFilesReload = () => {
  copyPanelStatus.value = false;
  ftpStatus.value = false;
  files.value = [];
  getSystemFiles().then(result => {
    files.value = result;
  })
}

const loadFtpFiles = () => {
   copyPanelStatus.value = false;
   ftpStatus.value = true;
   ftpFiles.value  = [];
   getFtpFiles('/').then(result => {
      ftpFiles.value = result;
   })
}

const copyFtp = () => {
  const ftpPath = store.ftpPath;
  const localPath = store.copySourcePath;
  ftpAction('copyToFtp',{ ftpPath, localPath}).then(result => {
      console.log(result)
  })
}

const downloadFtp = () => {
  const ftpPath   = store.ftpPath;
  const localPath = store.currentPath;
  ftpAction('downloadFromFtp',{ ftpPath, localPath }).then(result => {
     console.log(result)
  })
}

const deleteFtp = () => {
  const path = store.ftpPath;
  ftpAction('deleteToFtp', path).then(result => {
     console.log(result)
  })
}

const copyPanelOpen = () => {
   ftpStatus.value = false;
   copyPanelStatus.value = true;
   loadFiles(store.systemPath).then(result => {
      treeDirFiles.value = result;
   })
}

const ftpActionTest = () => {
  store.ftpPath = '/public_html/test-directory';
  store.currentPath = 'C:/OSPanel/domains/test.ru/file-browser';
  downloadFtp();
}

const init = () => {
  getRootPaths().then(result => {
      getServerFiles();
  });
  // loadFtpFiles();
}

init();

// ftpActionTest();


</script>

<style scoped>

.col-lg-3,
.col-lg-9 {
  margin: 0px;
  padding: 0px;
}

.tree-container {
  display: block;
}

.left-sidebar-panel {
  background-color: #15329A;
  color: white;
}
</style>

