<template>

<div style="background: #15329A !important;" >
  <app-header style="background: #15329A !important;" />
</div>

<div class="content" style="border-radius: 0px" >

  <div class="intro-y inbox1 box mt-4" style="width: 90%; margin: 0px auto 0px auto;" >

    <div class="" >

        <template v-for="(item, i) in apiConfigList" >
          <div class="" style="border-bottom: 1px #b0c4d9 solid !important;" >
            <div class="inbox__item inbox__item--active" style="">

                <div class="flex px-3 py-0" style="padding-top: 10px !important; margin-bottom: 10px">
                    <div class="w-full sm:w-auto truncate flex" style="border: 0px red solid; width: 74%; padding: 0px">
                       <div style="margin-right: 20px; padding-top: 3px; font-style: italic"> API URL </div>
                       <input v-model="item.api_url" type="text" class="input w-full border mt-0 flex-1"
                              placeholder="API URL" style="height: 80% !important; border-radius: 0px">
                    </div>
                    <div class="inbox__item--time whitespace-no-wrap ml-auto pl-10">
                      <div v-if="item.is_active"
                           class="py-1 px-2 rounded-full text-xs bg-theme-9 text-white cursor-pointer font-medium"
                           style="text-align: center"> Active</div>
                      <button v-else @click="setConfigActive(item, i)"
                           class="button bg-theme-1 text-white btn-action-config"
                              style="margin-top: 0px;"> Активировать </button>
                    </div>
                </div>

                <div class="flex px-3 py-0" style="margin-bottom: 20px">

                      <div class="config-item-input" style="">
                        <div style="padding-top: 3px; font-style: italic"> Type </div>
                        <input v-model="item.type" type="text" class="input w-full border mt-0 flex-1" placeholder="User" style="height: 100% !important; border-radius: 0px">
                      </div>

                      <div class="config-item-input" style="width: 31%;">
                         <div style="margin-right: 20px; padding-top: 3px; font-style: italic"> User </div>
                         <input v-model="item.user" type="text" class="input w-full border mt-0 flex-1" placeholder="User" style="height: 100% !important; border-radius: 0px">
                      </div>

                      <div class="config-item-input" style="width: 31%;">
                        <div style="margin: 0px 20px 0px 20px; padding-top: 3px; font-style: italic "> Password </div>
                        <input v-model="item.password" type="text" class="input w-full border mt-0 flex-1" placeholder="Password" style="height: 100% !important; border-radius: 0px" >
                      </div>

                      <button class="button bg-theme-1 text-white btn-action-config" > Сохранить </button>

                </div>

            </div>
          </div>
        </template>

    </div>

    <div class="p-5 flex flex-col sm:flex-row items-center text-center sm:text-left text-gray-600">
        <div>4.41 GB (25%) of 17 GB used Manage</div>
        <div class="sm:ml-auto mt-2 sm:mt-0">Last account activity: 36 minutes ago</div>
    </div>

</div></div>
</template>

<script setup>

// import DragItem from "@/components/common/DragItem.vue"

import { ref } from "vue";
import apiConfig from "@/api/config.js";
const apiConfigList = ref(apiConfig);
const activeConfig = ref({})


// const setConfigActive = (item, i) => {
//
//   localStorage.removeItem("active-api-config");
//   localStorage.removeItem("token");
//
//   const {user, password, api_url } = item;
//   localStorage.setItem("active-api-config", JSON.stringify(item));
//
//   store.auth(user, password).then(data => {
//
//      const {status, token, message} = data;
//      if(status && token) {
//          localStorage.setItem("token", token);
//          getConfigActive();
//      }
//      infoMessage(message);
//      window.location.reload();
//
//   })
// }
//
// const getConfigActive = () => {
//   let config = localStorage.getItem("active-api-config");
//   if(config) {
//      activeConfig.value = JSON.parse(config)
//      for(let i in apiConfigList.value) {
//          let item = apiConfigList.value[i];
//          item['is_active'] = false;
//          if(item.api_url == activeConfig.value.api_url) {
//            item['is_active'] = true;
//          }
//      }
//   }
// }
//
// getConfigActive();

</script>

<style scoped>

    .config-item-input {
      width: 10%;
      height: 100%;
      padding: 0px;
      margin-right: 10px;
    }

    .btn-action-config {
       width: 110px;
       margin-left: auto;
       border-radius: 3px;
       height: 100%;
       margin-top: 18px;
    }

</style>
