<template>
  <template v-if="file.type == 'file'" >
      <li :class="'ext-file ext-' + file.ext" >
        {{file.name}}
      </li>
  </template>
  <template v-else  >
      <li>
          <div @click="selectFile()"
               :id="file.name" class="tree-item-box"
               :class="[open ? 'open selected' : 'closed']">
               {{ file.name }}
          </div>

          <ul v-if="open" ><template v-for="(item) in childFiles" >
               <FtpTreeItem :file="item"
                            :store_path="props.store_path" />
          </template></ul>
      </li>
  </template>
</template>

<script setup>

import FtpTreeItem from "@/components/tree-item/FtpTreeItem.vue";

import {computed, ref} from "vue";
const props = defineProps(['file', 'store_path'])
// const emits = defineEmits(['path'])
import useFileManager from "@/composables/useFileManager.js";
const { store, eventOn, eventEmit, getFiles, getFtpFiles,
        getTreeFiles, treeRecursiveOpen, loadFiles } = useFileManager();

const file = ref(props.file);
const storePath = computed(() => props.store_path);
const open = ref(false);
const childFiles = ref([]);

const selectFile = (callback = null) => {

  const path = file.value.real_path;
  removeActiveClass('.tree-item-box');

  if (open.value) {
    open.value = false;
    return true;
  }

  getFtpFiles(path).then(result => {
      childFiles.value = result;
      open.value = true;
      if(callback) callback(childFiles.value)
      store[props.store_path] = path;
      // console.log(store.ftpPath)
  })
}

const removeActiveClass = (selector) => {
  const list = document.querySelectorAll(selector);
  list.forEach(elem => {
    elem.classList.remove('open');
    elem.classList.remove('selected');
    elem.classList.add('closed')
  });
}

</script>

<style scoped >

  .selected {
     padding-right:3px !important;
  }

</style>
