<template>
  <template v-if="file.type == 'file'" >
      <li :class="'ext-file ext-' + file.ext" >
        {{file.name}}
      </li>
  </template>
  <template v-else  >
      <li>
          <div @click="selectFile()"
               :id="file.name" class="tree-item-box"
               :class="[open ? 'open selected' : 'closed']">
               {{ file.name }}
          </div>

          <ul v-if="open" ><template v-for="(item) in childFiles" >
               <TreeItem :file="item" :open="item.open" />
          </template></ul>
      </li>
  </template>
</template>

<script setup>

import TreeItem from "@/components/tree-item/TreeItem.vue";

import {computed, ref} from "vue";
const props = defineProps(['file', 'open'])
import useFileManager from "@/composables/useFileManager.js";
const { store, eventOn, eventEmit, getFiles, getTreeFiles, treeRecursiveOpen } = useFileManager();

const file = ref(props.file);
const open = ref(false);
const childFiles = ref([]);
const propOpen = computed(() => props.open)

eventOn('create-resource', resp => {
  const path = file.value.real_path;
  if(store.currentPath != path) return false;
  open.value = false;
  selectFile();
});

eventOn('select-folder', data => {
  const path = file.value.real_path;
  if(data.path != path) return false;
  open.value = false;
  selectFile();
});

eventOn('reload-files', data => {
  const path = file.value.real_path;
  if(data.path != path) return false;
  open.value = false;
  selectFile();
});

const selectFile = (callback = null) => {
  const path = file.value.real_path;
  removeActiveClass('.tree-item-box');

  if (open.value) {
    open.value = false;
    return true;
  }

  getFiles(path).then(result => {
      childFiles.value = result;
      open.value = true;
      if(callback) callback(childFiles.value)
  })
}

const removeActiveClass = (selector) => {
  const list = document.querySelectorAll(selector);
  list.forEach(elem => {
    elem.classList.remove('open');
    elem.classList.remove('selected');
    elem.classList.add('closed')
  });
}

if(propOpen.value) {
   selectFile(files => {
      treeRecursiveOpen(propOpen.value, files)
   })
}

</script>

<style scoped >

  .selected {
    padding-right:3px !important;
    /*font-weight: bold;*/
  }

</style>
