<template>

  <InfoMessage/>

<!--  <Preloader/>-->

<!--  <AppHeader />-->

<!--  <div class="app-menu navbar-menu">-->
<!--    navbar-menu-->
<!--  </div>-->

<!--  <div class="vertical-overlay"></div>-->

<!--  <header id="page-topbar">-->
<!--     page-topbar-->
<!--  </header>-->

<!--  <div class="main-content">-->

<!--    <div class="page-content">-->
<!--      <div class="container-fluid">-->
<!--          <router-view ></router-view>-->
<!--      </div>-->
<!--    </div>-->

<!--    <footer class="footer">-->
<!--      <div class="container-fluid">-->
<!--        <div class="row">-->
<!--          <div class="col-sm-6"> © DzionManager </div>-->
<!--          <div class="col-sm-6">-->
<!--            <div class="text-sm-end d-none d-sm-block"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </footer>-->

<!--  </div>-->

 <router-view ></router-view>

</template>

<script setup >

import InfoMessage from "@/components/common/InfoMessage.vue";
import Preloader   from "@/components/common/Preloader.vue";

import useFileManager from "@/composables/useFileManager.js";
const { getRootPaths } = useFileManager();

getRootPaths();

</script>

<style lang="scss" >

</style>
