<template>

  <div class="drag-card-item-container"
       draggable="true"
       @dragstart="dragStart($event)"
       @dragend="dragEnd($event)"
       @dragover="dragOver($event)">

        <template v-if="getName">
          <div @click="boxToggle" class="drag-card-header" >
            <h6 class="fw-bold text-dark mb-2">{{getName}}</h6>
            <!--           <span class="w-70px badge badge-light-success me-4">{{getTitle}}</span>-->
          </div>
        </template>

        <div class="drag-card-toolbar">
          <slot name="toolbar"></slot>
        </div>

        <div :id="'drag-card-item__' + getName" class="drag-card-body" >
          <slot name="body"></slot>
        </div>

  </div>

</template>

<script setup>

import useHandlers from '@/composables/useHandlers.js';
const { storeData } = useHandlers();

import {computed, ref} from "vue";

const props = defineProps(['name'])

const zIndex = ref(11);

const getName = computed(() => {
  return props.name
})

const startCursorX = ref('');
const startCursorY = ref('');
const startX = ref('');
const startY = ref('');

const dragStart = (e) => {
  let target = e.target;
  let style = target.style;
  let left = style.marginLeft;
  let top = style.marginTop;
  startCursorX.value = e.pageX;
  startCursorY.value = e.pageY;

  startX.value = left.replace('px', '') * 1;
  startY.value = top.replace('px', '') * 1;
}

const dragEnd = (e) => {

  let target = e.target;
  target.style.position = 'absolute';

  target.style.zIndex = ++storeData.zIndex;

  let left = parseInt(startX.value) + parseInt(e.pageX);
  left = left - parseInt(startCursorX.value);
  let top = parseInt(startY.value) + parseInt(e.pageY);
  top = top - parseInt(startCursorY.value);

  target.style.marginLeft = left + 'px';
  target.style.marginTop = top + 'px';

}

const dragOver = (e) => {
  e.preventDefault();
}

const boxToggle = () => {

   let id = '#drag-card-item__' + props.name;
   let display = $(id).css('display');
   $('.drag-card-body').hide();
   if(display == 'none') {
      $(id).show();
      $(id).parent().css('z-index', ++storeData.zIndex)
   } else {
      $(id).hide();
   }
}

</script>

<style scoped>

.drag-card-item-container {
  position: absolute;
  z-index: 10;
  box-shadow: 4px 4px #989898, 8px 8px #6c6666;
  background: white;
}

.drag-card-header {
  cursor: pointer;
  padding: 0px 0px 0px 0px;
  padding: 0px 0px 0px 4px;
  border-bottom: 1px gainsboro solid;
  height: 20px;
}

.drag-card-toolbar {

}

.drag-card-body {
   display: none;
}

.drag-card-header:hover {
   /*background: #b0bed9;*/
   border-radius: 2px;
}

.drag-card-header h6:hover {
  color: darkgreen !important;
  /*font-style: italic;*/
  /*font-size: 15px;*/
}

</style>