<template>
<div class="app-header" >

  <!-- ПОИСК ПО ФАЙЛАМ -->
  <div v-if="searchStatus" class="top-search-container">
    <button @click="searchStatus = false" class="button w-24 rounded-full shadow-md mr-1 mb-2 bg-theme-6 text-white"
            style="padding: 10px 0px 0px 10px" >
      Закрыть
    </button>
<!--    <SearchTextPanel :data="searchResult"/>-->
  </div>


  <div class="navbar-panel" >

    <router-link to="/" class="top-menu">
      <img src="@/assets/icons/home.svg" class="feather feather-home w-4 h-4 img-icon">
      <div class="top-menu__title"> Главная</div>
    </router-link>

    <router-link to="/file-manager" class="top-menu">
      <img src="@/assets/icons/file-manager.svg" class="feather feather-home w-4 h-4 img-icon">
      <div class="top-menu__title"> Файловый менеджер</div>
    </router-link>

    <!--    <div class="" style="margin-left: auto !important; display: flex">-->
    <!--      <input v-model="searchValue" type="text" class="form-control form-input" placeholder="Поиск в файлах..." >-->
    <!--      <img @click="searchTextInFiles()" src="./assets/icons/search.svg" class="feather feather-home w-5 img-icon">-->
    <!--    </div>-->

  </div>
</div>
</template>

<script setup >

// import SearchTextPanel from "@/components/tmp/SearchTextPanel.vue"

import {ref} from "vue";
import {useStore} from "@/store";
const store = useStore()

const searchValue = ref('');
const searchStatus = ref(false);
const searchResult = ref([]);

const searchTextInFiles = () => {
  let value = searchValue.value;
  if (!value) return false;
  let path = store.currentPath;
  store.searchTextInFiles(path, value).then(data => {
    searchStatus.value = true;
    searchResult.value = data;
  })
}

</script>

<style lang="scss" scoped>

.navbar-panel {
  display: flex;
  padding: 10px 5px 10px 5px;
}

.top-menu {
  display: flex;
  color: white;
  margin-left: 5px;
  margin-right: 15px;
  text-decoration: none;
}

.top-menu div:hover {
  border: 0px;
  color: #b0c4d9;
}

.img-icon {
  color: white !important;
  margin-right: 5px;
}

.form-input {
  height: 100%;
  font-size: 12px;
}

.top-search-container {
  position: fixed; width: 70%; height: 100%; top:0px;  left:0px; background: #BBC8FD; z-index: 999
}

.app-header {
   //border: 1px red solid;
   //width: 1280px !important;
   //margin: 0px auto 0px auto  !important;
  background: #15329A;
}

</style>
