<template>
  <div class="card-drag-item-box"
       draggable="true"
       @dragstart="dragStart($event)"
       @dragend="dragEnd($event)"
       @dragover="dragOver($event)" >

         <slot name="header"></slot>

         <slot name="content"></slot>

  </div>
</template>

<script setup >

import {ref} from "vue";

const startCursorX = ref('');
const startCursorY = ref('');
const startX = ref('');
const startY = ref('');

const dragStart = (e) => {
  let target = e.target;
  let style = target.style;
  let left = style.marginLeft;
  let top = style.marginTop;
  startCursorX.value = e.pageX;
  startCursorY.value = e.pageY;

  startX.value = left.replace('px','') * 1;
  startY.value = top.replace('px','') * 1;
}

const dragEnd = (e) => {
  let target = e.target;
  target.style.position = 'absolute';
  target.style.zIndex = 99;

  let left = parseInt(startX.value) + parseInt(e.pageX);
  left = left - parseInt(startCursorX.value);
  let top = parseInt(startY.value) + parseInt(e.pageY);
  top = top - parseInt(startCursorY.value);

  target.style.marginLeft = left + 'px';
  target.style.marginTop = top + 'px';
}

const dragOver = (e) => {
  e.preventDefault();
}

</script>

<style scoped>

.card-drag-item-box {

  position: absolute;

  /*border: 1px gainsboro solid;*/
  /*margin: 4px;*/
  /*width: 85%;*/
  /*margin: 0px !important;*/
  /*z-index: 99;*/
  /*height: 40px;*/
  /*width: 60px;*/
  /*background: #2c3f5b;*/
  /*color: white;*/

}

</style>
