<template>
  <div v-if="messageStatus" class="info-message-container">
    <div class="rounded-md flex items-center px-3 py-4 mb-2 bg-theme-1 text-white info-messaage__box"
      style="padding-left:10px !important; display: block;"
      :class="{ 'info-message-success': infoMessage.type == 'success', 'info-message-error': infoMessage.type == 'error' }">

      <svg @click="close" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
           stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
           class="feather feather-x w-4 h-4 ml-auto" style="margin: -20px -10px 5px 0px; cursor: pointer">
           <line x1="18" y1="6" x2="6" y2="18"></line> <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>

      <div class="info-message__item">
          {{infoMessage.message}}
      </div>

    </div>
  </div>
</template>

<script setup>

import {computed, ref} from "vue";

import useFileManager from "@/composables/useFileManager.js";
const { store, eventOn, eventEmit, } = useFileManager();

const infoMessage = computed(() => store.infoMessage)
const messageStatus = computed(() => {
  if(store.infoMessage.status)
    setTimeout(() => { close(); }, 3000)
  return store.infoMessage.status
});

const close = () => {
   store.infoMessage.status = false
   store.infoMessage.message = null
}


</script>

<style scoped>
  .info-message-container {
     position: fixed;
     width: 100%;
     z-index: 99;
  }

  .info-messaage__box {
     width: 30%;
     margin: 10px auto 10px auto;
     /*border: 2px gainsboro solid;*/
     border-radius: 4px;
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .info-message__item {
    text-align: center !important; padding: 5px 3px 3px 3px; border: 0px red solid; width: 100%; font-size: 16px;
  }

  .info-message-success {
     background: rgb(33, 150, 243);
  }

  .info-message-error {
    background: red;
  }
</style>
