<template>

  <div class="modal fade show" tabindex="-1"
       style="display: block !important; margin-left: 0px; margin-top: 0px">
       <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" > {{title}} </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <slot name="body"></slot>
          </div>
          <div class="modal-footer">
            <button @click="cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            <button @click="save" type="button" class="btn btn-primary">Сохранить</button>
          </div>
        </div>
      </div>
  </div>

</template>

<script>
export default {
  name: "Modal",
  props: ['title'],
  data() {
     return {
     }
  },
  methods: {

      save() {
         this.$emit('action', true);
         this.$emit('save', true);
      },

      cancel() {
        this.$emit('cancel', true);
      },

  }
}
</script>

<style scoped>

</style>
