<template>

  <div
       id="page-preloader"><span id="spinner">Loading ...</span>
  </div>

</template>

<script setup >

// import useEventBus from "@/composables/tmp/useEventBus";
// import {computed, ref} from "vue";
//
// const { EventBus, eventClear, eventOn } = useEventBus()
//
// const preloader = ref(false);
//
// const getEventStatus = computed(() => {
//   eventOn('preloader', (event) => {
//       preloader.value = event.data.preloader
//   });
//   return EventBus.status;
// })

</script>

<style scoped>

</style>
