<template>
<div class="side-panel" >

    <label @click="$emit('close')" class="side-button-2" >
        <img src="@/assets/icons/close-icon.svg" class="w-5 h-5" >
    </label>

    <div v-if="title" class="side-title"> {{title}} </div>

    <slot name="header"></slot>

    <p><slot name="body"></slot></p>

</div>
</template>

<script>
export default {
  name: "SlidingSidebar",
  props: {
     title: {
       type: String,
       default: '',
     },
     width: {
       type: String,
       default: '310px',
     }
  },
}
</script>

<style scoped>

/* Оформление панели */
#side-checkbox {
  display: block;
}

.side-panel {
  position: fixed;
  z-index: 999999;
  top: 0;
  /*left: -100%;*/
  left: 0px;
  background: #0056b3;
  transition: all 0.5s;
  width: 100%;
  height: 100vh;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.4);
  color: #FFF;
  padding: 4px 4px 4px 4px;
}

.side-title {
  font-size: 15px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #BFE2FF;
}

/* Оформление кнопки на панеле */
.side-button-2 {
  font-size: 30px;
  width: 25px;
  border-radius: 0px 3px 3px 0px;
  position: absolute;
  z-index: 1;
  top: 7px;
  right: -25px;
  cursor: pointer;
  color: #BFE2FF;
  background: #0056b3;
  text-align: center;
  padding: 4px;
  border: 1px solid slateblue;
  border-left: 0px white solid;
}

.side-button-2:hover {
  /*transform: rotate(45deg) scale(1.1);*/
  color: red;
}

</style>
