<template>

  <table :class="class_name" style="width: 100%;">

    <thead>
      <tr><template v-for="(title, name) in headers">
          <th >{{title}}</th>
      </template></tr>
    </thead>

    <tbody>
      <template v-for="(item) in items">
          <tr ><td v-for="(title, name) in headers">{{item[name]}}</td></tr>
          <slot :item="item"></slot>
      </template>
    </tbody>

  </table>

</template>

<script>
export default {

  name: "TableItems",

  props: {
    items: Array,
    headers: Object,
    class_name: {
       type: String,
       default: 'table'
    }
  },

}
</script>

<style scoped>

.table {
  width: 100%;
  margin-bottom: 20px;
  border: 15px solid #F2F8F8;
  border-top: 5px solid #F2F8F8;
  border-collapse: collapse;
}

.table th {
  font-weight: bold;
  padding: 5px;
  background: #F2F8F8;
  border: none;
  border-bottom: 5px solid #F2F8F8;
}

.table td {
  padding: 5px;
  border: none;
  border-bottom: 5px solid #F2F8F8;
}


.table-2 {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.table-2 th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}

.table-2 td {
  border: 1px solid #dddddd;
  padding: 5px;
}

.table-2 tr td:first-child, .table-2 tr th:first-child {
  border-left: none;
}

.table-2 tr td:last-child, .table-2 tr th:last-child {
  border-right: none;
}


.table-3 {
  border: 1px solid #eee;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 20px;
}

.table-3 th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}

.table-3 td{
  padding: 5px 10px;
  border: 1px solid #eee;
  text-align: left;
}

.table-3 tbody tr:nth-child(odd){
  background: #fff;
}

.table-3 tbody tr:nth-child(even){
  background: #F7F7F7;
}


.table-4 {
  width: 100%;
  margin-bottom: 20px;
  border: 5px solid #fff;
  border-top: 5px solid #fff;
  border-bottom: 3px solid #fff;
  border-collapse: collapse;
  outline: 3px solid #ffd300;
  font-size: 15px;
  background: #fff!important;
}

.table-4 th {
  font-weight: bold;
  padding: 7px;
  background: #ffd300;
  border: none;
  text-align: left;
  font-size: 15px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #ffd300;
}

.table-4 td {
  padding: 7px;
  border: none;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  font-size: 15px;
}

.table-4 tbody tr:nth-child(even){
  background: #f8f8f8!important;
}


.table-5 {
  width: 100%;
  border: none;
  margin-bottom: 20px;
}

.table-5 thead th {
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #444441;
  border-top: 2px solid #716561;
  border-bottom: 2px solid #716561;
}

.table-5 tbody td {
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #444441;
  border-top: 1px solid #716561;
}



.table-6 {
  width: 100%;
  border: none;
  margin-bottom: 20px;
  border-collapse: separate;
}

.table-6 thead th {
  font-weight: bold;
  text-align: left;
  border: none;
  padding: 10px 15px;
  background: #EDEDED;
  font-size: 14px;
  border-top: 1px solid #ddd;
}

.table-6 tr th:first-child, .table-6 tr td:first-child {
  border-left: 1px solid #ddd;
}
.table-6tr th:last-child, .table-6 tr td:last-child {
  border-right: 1px solid #ddd;
}
.table-6 thead tr th:first-child {
  border-radius: 20px 0 0 0;
}
.table-6 thead tr th:last-child {
  border-radius: 0 20px 0 0;
}
.table-6 tbody td {
  text-align: left;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  vertical-align: top;
}
.table-6 tbody tr:nth-child(even) {
  background: #F8F8F8;
}
.table-6 tbody tr:last-child td{
  border-bottom: 1px solid #ddd;
}
.table-6 tbody tr:last-child td:first-child {
  border-radius: 0 0 0 20px;
}
.table-6 tbody tr:last-child td:last-child {
  border-radius: 0 0 20px 0;
}

</style>